# SPDX-FileCopyrightText: 2023-2024 Jisc Services Limited
# SPDX-FileContributor: Joe Pitt
#
# SPDX-License-Identifier: GPL-3.0-only

name: misp-dev
services:
  clamav:
    environment:
      - FQDN=${FQDN:-misp.local}
      - HTTPS_PORT=${HTTPS_PORT:-443}
    hostname: ${CLAMAV_HOSTNAME:-misp_clamav}
    image: clamav/clamav:1.0_base
    restart: unless-stopped
    volumes:
      - ./persistent/${COMPOSE_PROJECT_NAME}/clamav_db/:/var/lib/clamav
  db:
    command: [mysqld, --default-authentication-plugin=mysql_native_password, --character-set-server=utf8mb4, --collation-server=utf8mb4_unicode_ci, --innodb_monitor_enable=all]
    environment:
      - FQDN=${FQDN:-misp.local}
      - HTTPS_PORT=${HTTPS_PORT:-443}
      - MYSQL_DATABASE=${MYSQL_DBNAME:-misp}
      - MYSQL_USER=${MYSQL_USERNAME:-misp}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD:-misp}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-misp}
    hostname: ${MYSQL_HOSTNAME:-misp_db}
    image: mysql/mysql-server:8.0
    restart: unless-stopped
    volumes:
      - ./persistent/${COMPOSE_PROJECT_NAME}/db:/var/lib/mysql
  modules:
    depends_on:
      clamav:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      - FQDN=${FQDN:-misp.local}
      - HTTPS_PORT=${HTTPS_PORT:-443}
      - REDIS_BACKEND=${REDIS_HOST:-misp_redis}
      - REDIS_DATABASE=${REDIS_MODULES_DB:-1}
      - REDIS_PW=${REDIS_PASSWORD:-misp}
    hostname: ${MODULES_HOSTNAME:-misp_modules}
    image: jisccti/misp-modules-dev:latest
    restart: unless-stopped
    volumes:
      - modules_cache:/mnt/cache/
  redis:
    entrypoint: redis-server --loglevel warning --requirepass ${REDIS_PASSWORD:-misp}
    environment:
      - FQDN=${FQDN:-misp.local}
      - HTTPS_PORT=${HTTPS_PORT:-443}
      - REDISCLI_AUTH=${REDIS_PASSWORD:-misp}
    healthcheck:
      test: redis-cli -e ping || exit 1
    hostname: ${REDIS_HOST:-misp_redis}
    image: redis:8
    restart: unless-stopped
  web:
    depends_on:
      db:
        condition: service_healthy
      modules:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - path: .env
        required: false
      - path: oidc.env
        required: false
    hostname: ${MISP_HOSTNAME:-misp_web}
    image: jisccti/misp-web-dev:latest
    ports:
      - ${HTTP_PORT:-80}:80
      - ${HTTPS_PORT:-443}:443
    restart: unless-stopped
    volumes:
      - ./persistent/${COMPOSE_PROJECT_NAME}/data/:/var/www/MISPData
      - ./persistent/${COMPOSE_PROJECT_NAME}/gpg/:/var/www/MISPGnuPG
      - ./persistent/${COMPOSE_PROJECT_NAME}/tls/:/etc/ssl/private
  workers:
    depends_on:
      web:
        condition: service_started
    env_file:
      - path: .env
        required: false
    hostname: ${WORKERS_HOSTNAME:-misp_workers}
    image: jisccti/misp-workers-dev:latest
    restart: unless-stopped
    volumes:
      - ./persistent/${COMPOSE_PROJECT_NAME}/data/:/var/www/MISPData
      - ./persistent/${COMPOSE_PROJECT_NAME}/gpg/:/var/www/MISPGnuPG
volumes:
  modules_cache: