# SPDX-FileCopyrightText: 2026 Jisc Services Limited
# SPDX-FileContributor: Joe Pitt
#
# SPDX-License-Identifier: GPL-3.0-only
get-latest-version~=2.0
mkdocs~=1.6
mkdocs-material~=9.7
python-dotenv~=1.2