# SPDX-FileCopyrightText: 2023-2025 Jisc Services Limited
# SPDX-FileContributor: James Ellor
# SPDX-FileContributor: Joe Pitt
#
# SPDX-License-Identifier: GPL-3.0-only
---
name: Development Images
on:
  workflow_dispatch:
  pull_request:
permissions:
  contents: read
  pull-requests: write
jobs:
  build:
    name: Build, Test, and Release (Dev)
    runs-on: ubuntu-latest
    steps:
      - name: Free Up Disk Space
        uses: jlumbroso/free-disk-space@main

      - id: pr-comment-start
        if: ${{ github.event_name == 'pull_request' }}
        name: Add Comment to PR (Start)
        continue-on-error: true
        uses: actions/github-script@v8
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'Test images for this PR are now being built, see Actions tab for details.'
            })

      - id: checkout
        name: Checkout Project
        uses: actions/checkout@v6

      - id: docker-login
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          username: ${{ vars.DOCKERHUB_USERNAME }}

      - id: setup-buildx
        name: Setup Docker buildx Environment
        uses: docker/setup-buildx-action@v3

      - id: test-env-setup
        name: Configure Environment
        run: |
          sed -i 's/jisccti/${{ vars.DOCKERHUB_ORGANISATION }}/g' docker-compose-dev.yml
          sed -i 's/jisccti/${{ vars.DOCKERHUB_ORGANISATION }}/g' misp-workers/Dockerfile
          sed -i 's/misp-web/misp-web-dev/g' misp-workers/Dockerfile
          sed -i 's/\${MISP_VERSION}/latest/g' misp-workers/Dockerfile
          cp .github/workflows/actions.env .env
          mkdir -p persistent/$COMPOSE_PROJECT_NAME/gpg persistent/$COMPOSE_PROJECT_NAME/tls
          cat <<EOF > persistent/$COMPOSE_PROJECT_NAME/gpg/import.asc
          ${{ secrets.TEST_PGP_KEY }}
          EOF
          cat <<EOF > persistent/$COMPOSE_PROJECT_NAME/tls/misp.crt
          ${{ secrets.TEST_TLS_CERT }}
          EOF
          cat <<EOF > persistent/$COMPOSE_PROJECT_NAME/tls/misp.key
          ${{ secrets.TEST_TLS_KEY }}
          EOF

      - name: Get Latest MISP Version
        id: misp_version
        uses: joepitt91/action-version-from-github-release@v2
        with:
          token: ${{ secrets.VERSION_CHECK_PAT }}
          owner: MISP
          repository: MISP
          greater_equal_version: 2.5.0
          less_than_version: 2.6.0

      - name: Get Latest MISP Modules Version
        id: misp_modules_version
        uses: joepitt91/action-version-from-github-tag@v2
        with:
          token: ${{ secrets.VERSION_CHECK_PAT }}
          owner: MISP
          repository: MISP-Modules
          greater_equal_version: 3.0.0
          less_than_version: 4.0.0

      - name: Get Latest Shibboleth Version
        id: shibb_version
        uses: JoePJisc/action-version-from-rpm@v1
        with:
          mirror_list_url: https://shibboleth.net/cgi-bin/mirrorlist.cgi/rockylinux9
          package_name: shibboleth
          greater_equal_version: 3.0.0
          less_than_version: 4.0.0

      - name: Image Tag and Upstream Versions
        run: |
          echo "- ${{ vars.DOCKERHUB_ORGANISATION }}/misp-modules-dev:${{ github.event_name }}_${{ github.sha }} using upstream version ${{ steps.misp_modules_version.outputs.version }}"
          echo "- ${{ vars.DOCKERHUB_ORGANISATION }}/misp-shibb-sp-dev:${{ github.event_name }}_${{ github.sha }} using upstream version ${{ steps.shibb_version.outputs.version }}"
          echo "- ${{ vars.DOCKERHUB_ORGANISATION }}/misp-web-dev:${{ github.event_name }}_${{ github.sha }} using upstream version ${{ steps.misp_version.outputs.version }}"
          echo "- ${{ vars.DOCKERHUB_ORGANISATION }}/misp-workers-dev:${{ github.event_name }}_${{ github.sha }} using upstream version ${{ steps.misp_version.outputs.version }}"

      # Build Images
      # Comments on Build MISP-Modules Image apply to all steps in this section
      - name: Build MISP-Modules Image
        id: build_modules
        uses: docker/build-push-action@v6
        with:
          # Fetch and store the build cache in a dedicated :buildcache tag on DockerHub
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-modules-dev:buildcache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-modules-dev:buildcache,mode=max
          context: ./misp-modules/
          build-args: |
            MISP_VERSION=${{ steps.misp_modules_version.outputs.tag }}
          # Provenance must be generated and pushed in one step, so this is added later
          provenance: false
          # Ensure we pull the latest base image, which will invalidate the cache if it has changed
          pull: true
          # "Load" the built image into the Action Runner's docker image library
          load: true
          # Do not push the image to DockerHub yet
          push: false
          # SBOM must be generated and pushed in one step, so this is added later
          sbom: false
          tags: |
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-modules-dev:latest
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-modules-dev:${{ github.event_name }}_${{ github.sha }}

      - name: Build MISP-Web Image
        id: build_web
        uses: docker/build-push-action@v6
        with:
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-web-dev:buildcache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-web-dev:buildcache,mode=max
          context: ./misp-web/
          build-args: |
            MISP_VERSION=${{ steps.misp_version.outputs.release_tag }}
          provenance: false
          pull: true
          load: true
          push: false
          sbom: false
          tags: |
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-web-dev:latest
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-web-dev:${{ github.event_name }}_${{ github.sha }}

      # Ensure the workers image is build with the latest base image
      - name: Pull the latest php:8.5-cli image
        id: pull_workers_base
        uses: cloudposse/github-action-docker-image-exists@main
        with:
          organization: ${{ vars.DOCKERHUB_ORGANISATION }}
          registry: registry.hub.docker.com
          repository: php
          tag: 8.5-cli

      - name: Build MISP-Workers Image
        id: build_workers
        uses: docker/build-push-action@v6
        with:
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-workers-dev:buildcache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-workers-dev:buildcache,mode=max
          context: ./misp-workers/
          build-args: |
            MISP_VERSION=${{ steps.misp_version.outputs.release_tag }}
          provenance: false
          # The workers image copies data from the newly built Web image, therefore we pull the base image directly above and don't pull misp-web
          pull: false
          load: true
          push: false
          sbom: false
          tags: |
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-workers-dev:latest
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-workers-dev:${{ github.event_name }}_${{ github.sha }}

      - name: Build MISP-Shibb-SP Image
        id: build_shibb
        uses: docker/build-push-action@v6
        with:
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-shibb-sp-dev:buildcache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-shibb-sp-dev:buildcache,mode=max
          context: ./misp-shibb-sp/
          build-args: |
            SHIBB_VERSION=${{ steps.shibb_version.outputs.version }}
          provenance: false
          pull: true
          load: true
          push: false
          sbom: false
          tags: |
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-shibb-sp-dev:latest
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-shibb-sp-dev:${{ github.event_name }}_${{ github.sha }}

      # Verify images are functional
      - id: start_test_env
        name: Deploy Test Instance
        run: docker compose -f docker-compose-dev.yml up -d

      - continue-on-error: true
        id: initial_setup
        name: Wait for Initial Setup
        # Wait for up to 30 minutes for docker to report all containers are healthy (i.e. not (starting or unhealthy))
        run: timeout 30m /bin/bash -c 'while [[ $(docker container ls --format {{.Status}} | grep -P "(unhealthy)|(starting)" | wc -l) -gt 0 ]] ; do sleep 30; done'

      - id: dump_logs
        if: steps.initial_setup.outcome == 'failure'
        name: Dump Container Log
        run: |
          docker compose -f docker-compose-dev.yml logs
          docker compose -f docker-compose-dev.yml down
          exit 1

      - id: stop_test_env
        name: Stop MISP
        run: docker compose -f docker-compose-dev.yml down

      # Attest and Push Dev Images
      # Images have now passed testing, so provenance and SBOM attestations can be added and the images pushed to DockerHub
      # Comments on Attest and Push MISP-Modules Image apply to all steps in this section
      - name: Attest and Push MISP-Modules Image
        id: push_modules
        uses: docker/build-push-action@v6
        with:
          # The build cache will provide the image built above, so it is not built a second time
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-modules-dev:buildcache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-modules-dev:buildcache,mode=max
          context: ./misp-modules/
          build-args: |
            MISP_VERSION=${{ steps.misp_modules_version.outputs.tag }}
          # Add Image build provenance attestation to image
          provenance: true
          # Don't pull base image to avoid changing what has been tested
          pull: false
          # Push the image to DockerHub once built
          push: true
          # Add Software Bill of Materials (SBOM) attestation to image
          sbom: true
          tags: |
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-modules-dev:latest
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-modules-dev:${{ github.event_name }}_${{ github.sha }}

      - name: Attest and Push MISP-Web Image
        id: push_web
        uses: docker/build-push-action@v6
        with:
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-web-dev:buildcache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-web-dev:buildcache,mode=max
          context: ./misp-web/
          build-args: |
            MISP_VERSION=${{ steps.misp_version.outputs.release_tag }}
          provenance: true
          pull: false
          push: true
          sbom: true
          tags: |
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-web-dev:latest
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-web-dev:${{ github.event_name }}_${{ github.sha }}

      - name: Attest and Push MISP-Workers Image
        id: push_workers
        uses: docker/build-push-action@v6
        with:
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-workers-dev:buildcache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-workers-dev:buildcache,mode=max
          context: ./misp-workers/
          build-args: |
            MISP_VERSION=${{ steps.misp_version.outputs.release_tag }}
          provenance: true
          pull: false
          push: true
          sbom: true
          tags: |
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-workers-dev:latest
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-workers-dev:${{ github.event_name }}_${{ github.sha }}

      - name: Attest and Push MISP-Shibb-SP Image
        id: push_shibb
        uses: docker/build-push-action@v6
        with:
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-shibb-sp-dev:buildcache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-shibb-sp-dev:buildcache,mode=max
          context: ./misp-shibb-sp/
          build-args: |
            SHIBB_VERSION=${{ steps.shibb_version.outputs.version }}
          provenance: true
          pull: false
          push: true
          sbom: true
          tags: |
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-shibb-sp-dev:latest
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-shibb-sp-dev:${{ github.event_name }}_${{ github.sha }}

      # Update PR
      - id: pr-comment-done
        if: ${{ github.event_name == 'pull_request' }}
        name: Add Comment to PR (Done)
        continue-on-error: true
        uses: actions/github-script@v8
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'New test images for this PR have been published: `${{ vars.DOCKERHUB_ORGANISATION }}/misp-modules-dev:${{ github.event_name }}_${{ github.sha }}` `${{ vars.DOCKERHUB_ORGANISATION }}/misp-web-dev:${{ github.event_name }}_${{ github.sha }}` `${{ vars.DOCKERHUB_ORGANISATION }}/misp-workers-dev:${{ github.event_name }}_${{ github.sha }}` `${{ vars.DOCKERHUB_ORGANISATION }}/misp-shibb-sp-dev:${{ github.event_name }}_${{ github.sha }}`'
            })