# SPDX-FileCopyrightText: 2024-2025 Jisc Services Limited
# SPDX-FileContributor: Joe Pitt
#
# SPDX-License-Identifier: GPL-3.0-only
---
name: Update GitHub Pages
on:
  push:
    branches: [ main ]
  workflow_dispatch:
permissions:
  contents: read
  id-token: write
  pages: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Python 3.14
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Install mkdocs
        run: python -m pip install --upgrade pip setuptools && pip install mkdocs mkdocs-material

      - name: Configure git
        run: git config user.name 'github-actions[bot]' && git config user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Build docs site
        run: mkdocs build

      - name: Upload site bundle
        uses: actions/upload-pages-artifact@v4
        with:
          path: site

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-latest
    steps:
      - id: deployment
        name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4