# SPDX-FileCopyrightText: 2023-2025 Jisc Services Limited
# SPDX-FileContributor: Joe Pitt
#
# SPDX-License-Identifier: GPL-3.0-only
---
name: Production Images
on:
  push:
    branches:
      - main
  schedule:
    - cron: 15 */6 * * *
  workflow_dispatch:
permissions:
  contents: read
jobs:
  build:
    name: Build, Test, and Release
    runs-on: ubuntu-latest
    steps:
      - name: Free Up Disk Space
        uses: jlumbroso/free-disk-space@main

      - id: checkout
        name: Checkout Project
        uses: actions/checkout@v6

      - id: docker-login
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          username: ${{ vars.DOCKERHUB_USERNAME }}

      - id: setup-buildx
        name: Setup Docker buildx Environment
        uses: docker/setup-buildx-action@v3

      - id: test-env-setup
        name: Configure Environment
        run: |
          sed -i 's/jisccti/${{ vars.DOCKERHUB_ORGANISATION }}/g' docker-compose.yml
          sed -i 's/jisccti/${{ vars.DOCKERHUB_ORGANISATION }}/g' misp-workers/Dockerfile
          cp .github/workflows/actions.env .env
          mkdir -p persistent/$COMPOSE_PROJECT_NAME/gpg persistent/$COMPOSE_PROJECT_NAME/tls
          cat <<EOF > persistent/$COMPOSE_PROJECT_NAME/gpg/import.asc
          ${{ secrets.TEST_PGP_KEY }}
          EOF
          cat <<EOF > persistent/$COMPOSE_PROJECT_NAME/tls/misp.crt
          ${{ secrets.TEST_TLS_CERT }}
          EOF
          cat <<EOF > persistent/$COMPOSE_PROJECT_NAME/tls/misp.key
          ${{ secrets.TEST_TLS_KEY }}
          EOF

      - name: Get Latest MISP Version
        id: misp_version
        uses: joepitt91/action-version-from-github-release@v2
        with:
          token: ${{ secrets.VERSION_CHECK_PAT }}
          owner: MISP
          repository: MISP
          greater_equal_version: 2.5.0
          less_than_version: 2.6.0

      - name: Get Latest MISP Modules Version
        id: misp_modules_version
        uses: joepitt91/action-version-from-github-tag@v2
        with:
          token: ${{ secrets.VERSION_CHECK_PAT }}
          owner: MISP
          repository: MISP-Modules
          greater_equal_version: 3.0.0
          less_than_version: 4.0.0

      - name: Get Latest Shibboleth Version
        id: shibb_version
        uses: JoePJisc/action-version-from-rpm@v1
        with:
          mirror_list_url: https://shibboleth.net/cgi-bin/mirrorlist.cgi/rockylinux9
          package_name: shibboleth
          greater_equal_version: 3.0.0
          less_than_version: 4.0.0

      - name: Image Tag and Upstream Versions
        run: |
          echo "- ${{ vars.DOCKERHUB_ORGANISATION }}/misp-modules:latest using upstream version ${{ steps.misp_modules_version.outputs.release }}"
          echo "- ${{ vars.DOCKERHUB_ORGANISATION }}/misp-shibb-sp:latest using upstream version ${{ steps.shibb_version.outputs.version }}"
          echo "- ${{ vars.DOCKERHUB_ORGANISATION }}/misp-web:latest using upstream version ${{ steps.misp_version.outputs.version }}"
          echo "- ${{ vars.DOCKERHUB_ORGANISATION }}/misp-workers:latest using upstream version ${{ steps.misp_version.outputs.version }}"

      # Build or Pull Images
      # Comments on Pull MISP-Modules If Image Exists apply to all PULL steps in this section
      - name: Pull Misp-Modules If Image Exists
        id: pull_modules
        # Only try to pull images when running on schedule, otherwise we'll build new images regardless
        if: github.event_name == 'schedule'
        # This step will "fail" if the image doesn't exist, continue to allow it to be built
        continue-on-error: true
        uses: cloudposse/github-action-docker-image-exists@main
        with:
          organization: ${{ vars.DOCKERHUB_ORGANISATION }}
          registry: registry.hub.docker.com
          repository: misp-modules
          tag: ${{ steps.misp_modules_version.outputs.tag }}

      # Comments on Build MISP-Modules Image apply to all BUILD steps in this section
      - name: Build MISP-Modules Image
        id: build_modules
        # Only build if the pull was skipped (not running on schedule) or failed (image doesn't exist)
        if: steps.pull_modules.outcome == 'skipped' || steps.pull_modules.outcome == 'failure'
        uses: docker/build-push-action@v6
        with:
          # Fetch and store the build cache in a dedicated :buildcache tag on DockerHub
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-modules:buildcache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-modules:buildcache,mode=max
          context: ./misp-modules/
          build-args: |
            MISP_VERSION=${{ steps.misp_modules_version.outputs.tag }}
          # Provenance must be generated and pushed in one step, so this is added later
          provenance: false
          # Ensure we pull the latest base image, which will invalidate the cache if it has changed
          pull: true
          # "Load" the built image into the Action Runner's docker image library
          load: true
          # Do not push the image to DockerHub yet
          push: false
          # SBOM must be generated and pushed in one step, so this is added later
          sbom: false
          tags: |
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-modules:latest
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-modules:${{ steps.misp_modules_version.outputs.tag }}

      - name: Pull MISP-Web If Image Exists
        id: pull_web
        if: github.event_name == 'schedule'
        continue-on-error: true
        uses: cloudposse/github-action-docker-image-exists@main
        with:
          organization: ${{ vars.DOCKERHUB_ORGANISATION }}
          registry: registry.hub.docker.com
          repository: misp-web
          tag: ${{ steps.misp_version.outputs.release_tag }}

      - name: Build MISP-Web Image
        id: build_web
        if: steps.pull_web.outcome == 'skipped' || steps.pull_web.outcome == 'failure'
        uses: docker/build-push-action@v6
        with:
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-web:buildcache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-web:buildcache,mode=max
          context: ./misp-web/
          build-args: |
            MISP_VERSION=${{ steps.misp_version.outputs.release_tag }}
          provenance: false
          pull: true
          load: true
          push: false
          sbom: false
          tags: |
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-web:latest
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-web:${{ steps.misp_version.outputs.release_tag }}

      - name: Pull MISP-Workers If Image Exists
        id: pull_workers
        continue-on-error: true
        if: github.event_name == 'schedule' && steps.build_web.outcome == 'skipped'
        uses: cloudposse/github-action-docker-image-exists@main
        with:
          organization: ${{ vars.DOCKERHUB_ORGANISATION }}
          registry: registry.hub.docker.com
          repository: misp-workers
          tag: ${{ steps.misp_version.outputs.release_tag }}

      # Ensure the workers image is build with the latest base image
      - name: Pull the latest php:8.5-cli image
        id: pull_workers_base
        if: steps.pull_workers.outcome == 'skipped' || steps.pull_workers.outcome == 'failure'
        uses: cloudposse/github-action-docker-image-exists@main
        with:
          organization: ${{ vars.DOCKERHUB_ORGANISATION }}
          registry: registry.hub.docker.com
          repository: php
          tag: 8.5-cli

      - name: Build MISP-Workers Image
        id: build_workers
        if: steps.pull_workers.outcome == 'skipped' || steps.pull_workers.outcome == 'failure'
        uses: docker/build-push-action@v6
        with:
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-workers:buildcache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-workers:buildcache,mode=max
          context: ./misp-workers/
          build-args: |
            MISP_VERSION=${{ steps.misp_version.outputs.release_tag }}
          provenance: false
          # The workers image copies data from the newly built Web image, therefore we pull the base image directly above and don't pull misp-web
          pull: false
          load: true
          push: false
          sbom: false
          tags: |
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-workers:latest
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-workers:${{ steps.misp_version.outputs.release_tag }}

      - name: Pull MISP-Shibb-SP If Image Exists
        id: pull_shibb
        if: github.event_name == 'schedule'
        continue-on-error: true
        uses: cloudposse/github-action-docker-image-exists@main
        with:
          organization: ${{ vars.DOCKERHUB_ORGANISATION }}
          registry: registry.hub.docker.com
          repository: misp-shibb-sp
          tag: ${{ steps.shibb_version.outputs.version }}

      - name: Build MISP-Shibb-SP Image
        id: build_shibb
        if: steps.pull_shibb.outcome == 'skipped' || steps.pull_shibb.outcome == 'failure'
        uses: docker/build-push-action@v6
        with:
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-shibb-sp:buildcache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-shibb-sp:buildcache,mode=max
          context: ./misp-shibb-sp/
          build-args: |
            SHIBB_VERSION=${{ steps.shibb_version.outputs.version }}
          provenance: false
          pull: true
          load: true
          push: false
          sbom: false
          tags: |
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-shibb-sp:latest
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-shibb-sp:${{ steps.shibb_version.outputs.version }}

      # Verify images are functional
      - id: start_test_env
        name: Deploy Test Instance
        run: docker compose up -d

      - continue-on-error: true
        id: initial_setup
        name: Wait for Initial Setup
        # Wait for up to 30 minutes for docker to report all containers are healthy (i.e. not (starting or unhealthy))
        run: timeout 30m /bin/bash -c 'while [[ $(docker container ls --format {{.Status}} | grep -P "(unhealthy)|(starting)" | wc -l) -gt 0 ]] ; do sleep 30; done'

      - id: dump_logs
        if: steps.initial_setup.outcome == 'failure'
        name: Dump Container Log
        run: |
          docker compose logs
          docker compose down
          exit 1

      - id: stop_test_env
        name: Stop MISP
        run: docker compose down

      # Attest and Push Dev Images
      # Images have now passed testing, so provenance and SBOM attestations can be added and the images pushed to DockerHub
      # Comments on Attest and Push MISP-Modules Image apply to all steps in this section
      - name: Attest and Push MISP-Modules Image
        id: push_modules
        if: steps.build_modules.outcome == 'success'
        uses: docker/build-push-action@v6
        with:
          # The build cache will provide the image built above, so it is not built a second time
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-modules:buildcache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-modules:buildcache,mode=max
          context: ./misp-modules/
          build-args: |
            MISP_VERSION=${{ steps.misp_modules_version.outputs.tag }}
          # Add Image build provenance attestation to image
          provenance: true
          # Don't pull base image to avoid changing what has been tested
          pull: false
          # Push the image to DockerHub once built
          push: true
          # Add Software Bill of Materials (SBOM) attestation to image
          sbom: true
          tags: |
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-modules:latest
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-modules:${{ steps.misp_modules_version.outputs.tag }}

      - name: Attest and Push MISP-Web Image
        if: steps.build_web.outcome == 'success'
        id: push_web
        uses: docker/build-push-action@v6
        with:
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-web:buildcache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-web:buildcache,mode=max
          context: ./misp-web/
          build-args: |
            MISP_VERSION=${{ steps.misp_version.outputs.release_tag }}
          provenance: true
          pull: false
          push: true
          sbom: true
          tags: |
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-web:latest
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-web:${{ steps.misp_version.outputs.release_tag }}

      - name: Attest and Push MISP-Workers Image
        id: push_workers
        if: steps.build_workers.outcome == 'success'
        uses: docker/build-push-action@v6
        with:
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-workers:buildcache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-workers:buildcache,mode=max
          context: ./misp-workers/
          build-args: |
            MISP_VERSION=${{ steps.misp_version.outputs.release_tag }}
          provenance: true
          pull: false
          push: true
          sbom: true
          tags: |
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-workers:latest
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-workers:${{ steps.misp_version.outputs.release_tag }}

      - name: Attest and Push MISP-Shibb-SP Image
        id: push_shibb
        if: steps.build_shibb.outcome == 'success'
        uses: docker/build-push-action@v6
        with:
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-shibb-sp:buildcache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_ORGANISATION }}/misp-shibb-sp:buildcache,mode=max
          context: ./misp-shibb-sp/
          build-args: |
            SHIBB_VERSION=${{ steps.shibb_version.outputs.version }}
          provenance: true
          pull: false
          push: true
          sbom: true
          tags: |
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-shibb-sp:latest
            ${{ vars.DOCKERHUB_ORGANISATION }}/misp-shibb-sp:${{ steps.shibb_version.outputs.version }}